section.subgenre dt, section.subgenre dl{
    display:inline; 
}
del, del > a {
    color: #ddd;
}
dl.problems > dt.enum_statement{
    margin-top: 2em; 
}
section.genre{  
    width:100%;
    padding:10px;
    border:1px solid #666; 
    overflow:auto; 
}  

section.subgenre {
    width:220px;
    margin:5px;
    padding:10px;
    float:left;
    border:1px solid #999; 
    display:inline;
}

ol#reference > li{
    margin-bottom: 1.5em; 
}
ol.todo_list {
    list-style-type:none; 
}
ol.todo_list > li{
    margin-bottom: 1em; 
}
ol#todo_list_checked strong {
    text-decoration: underline; 
}
