body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section.subgenre ul{
    list-style-type: none;
    padding-left: 0px; 
}
section.subgenre ul li{
    text-align: right; 
    display: inline-block; 
    width: 2em; 
}
section.subgenre ul li a{
    font-weight: bold; 
}

del, del > a {
    color: #ddd;
}
dl.problem{
    margin-top: 1em; 
    margin-left: 1em; 

    padding-left: 1em; 
    padding-bottom : 1em; 
    border-left: 1px solid #ccc; 
    border-bottom : 1px solid #ccc; 
}
dl.problem dt  
{
    font-weight: bold; 
}
dl.problem dt.enum_statement {
    margin-left:-.5em; 
}

/* section.genre{   */
    /* width:100%; */
    /* padding:10px; */
    /* border:1px solid #666;  */
    /* overflow:auto;  */
/* }   */

/* section.subgenre { */
    /* width:220px; */
    /* margin:5px; */
    /* padding:10px; */
    /* float:left; */
    /* border:1px solid #999;  */
    /* display:inline; */
/* } */

ol#reference > li{
    margin-bottom: 1.5em; 
}
ol.todo_list {
    list-style-type:none; 
}
ol.todo_list > li{
    margin-bottom: 1em; 
}
ol#todo_list_checked strong {
}

section.genre { 
  margin: 1%; 
  border: 1px solid #ccc; 
}

section.subgenres{  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

section.subgenre {
  margin: 0.25em;
  padding: 0.5em; 
  border: 1px solid #ccc; 
  flex:0 1 auto; /* Default */
  width:15em;
}
